@charset "UTF-8";

body
{
    margin: 0;
    background-color: #181818;
    color: white;
    font-family: "roboto slab";
}

.wrap
{
    display: flex;
    padding-top: 20%;
    flex-direction: column;
    align-items: center;
}

//the top most title input element
.title
{
    min-width: 110px;
    font-size: 28px;
    text-align: center;
    padding: 0 15px 0 15px;
    border-left: 5px solid white;
    border-right: 5px solid white;
    outline: none;
}

//a choice element
.choice
{
    font-size: 20px;
    padding: 4px 0 4px 0;

    &>span
    {
        padding-right: 10px;
    }

    .input
    {
        display: inline-block;
        min-width: 20px;
        outline: none;
        text-align: center;
    }
}

//message thing that appears at end of list
.ender
{
    opacity: 0;
    font-size: 14px;
    padding-top: 5px;
    transition: opacity .2s;

    &.show
    {
        opacity: .3;
    }
}

::selection
{
    background-color: white;
    color: #181818;
}