@charset "UTF-8";
body {
  margin: 0;
  background-color: #181818;
  color: white;
  font-family: "roboto slab";
}
p {
  margin: 0;
}
.wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20%;
}
.title-outer {
  position: relative;
}
.title-outer .title {
  min-width: 246px;
  text-align: center;
  padding: 0 15px 0 15px;
  font-size: 28px;
  border-left: 5px solid white;
  border-right: 5px solid white;
  outline: none;
  overflow: hidden;
}
.title-outer .title-placeholder {
  min-width: 246px;
  text-align: center;
  padding: 0 15px 0 15px;
  font-size: 28px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0.3;
  transition: opacity 0.2s;
}
.title-outer .title-placeholder.hidden {
  opacity: 0;
}
.choices {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}
.choice {
  font-size: 20px;
  padding: 4px 0 4px 0;
}
.choice > span {
  padding-right: 10px;
}
.choice .input {
  display: inline-block;
  min-width: 20px;
  outline: none;
  text-align: center;
}
.ender {
  opacity: 0;
  font-size: 14px;
  padding-top: 5px;
  transition: opacity 0.2s;
}
.ender.show {
  opacity: 0.3;
}
::selection {
  background-color: white;
  color: #181818;
}
